.primary-anchor-pane {
    -fx-background-color: #BAB2B5;
}

.tab {
    -fx-background-color: #EEE2Dc;
}

AnchorPane {
    -fx-background-color: #EEE2Dc;
}

.primary-text {
    -fx-text-fill: #812d48;
}

.table-row-cell:selected {

    -fx-background-color: #EDC7B7;
    -fx-text-fill: #123D69;
    -fx-table-cell-border-color: transparent;
}

.table-view {
    -fx-border-color: #123C69
}

.column-header {
    -fx-background-color: #BAB2B5;
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #EDC7B7;
}

.button {
    -fx-background-color: #BAB2B5;
    -fx-text-fill: white;
}

/*.table-row-cell:selected>*.button {*/
/*    -fx-background-color: #812d48;*/
/*}*/

.primary-button {
    -fx-background-color: #812d48;
    -fx-text-fill: white;
}
